nav {
    position: absolute;
    top: 0;
    left: 2rem;
    display: flex;
    gap: 1.5rem;
    padding: 1rem;
}

.active{
    color:lightblue;
    font-weight: 800;
    font-size: larger;
}
.link{
    color:blue;
}
a:hover{
    color: lightcyan;
}